#updateButton {
    background-color: #870000;
    border: 1px solid #870000;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
}

.form-container {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

input {
    width: 100%;
}

h3 span {
    color: #870000
}