.card-local-container{
    width: 100%;
    align-self: end;
}

.form-container {
    margin-top: 32px;
    margin-bottom: 15em;
}

.form-container .form-control {
    margin-bottom: 2em;
    width: 100%;
}

.button-container {
    margin-top: 10em;
}

.button-container #confirmButton {
    background-color: #870000;
    border: 1px solid #870000;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    padding: 14px 180px;
}

@media screen and (max-width: 600px){

    .card-local-container{
        width: 30em;
    }

    .button-container #confirmButton {
        padding: 0.5em 0;
    }

}

@media screen and (max-width: 425px){

    .card-local-container{
        width: 25em;
    }

}