<div class="card-local-container">
    <app-card [title]="'Reset Password'">
        <h3>Input your New Password</h3>
        <div class="form-container">
            <div class="form-control">
                <label for="password">New Password</label><br>
                <input type="password" name="password">
            </div>
            <div class="form-control">
                <label for="password">Confirm Password</label><br>
                <input type="password" name="password">
            </div>
        </div>
        <div class="button-container">
            <button id="confirmButton" routerLink="">Confirm</button>
        </div>
    </app-card>
</div>


