<div class="card-local-container">
<app-card [title]="'Reset Password'">
    <h3>Input your Email</h3>
    <div class="form-container">
        <div class="form-control">
            <mat-label for="email">Email</mat-label><br>
            <mat-form-field appearance="fill" class="input-control">
                <input matInput type="email" name="email" placeholder="example@email.com">
            </mat-form-field>
            <div class="resend-email-container">
                <a routerLink="">Resend Email</a>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button type="submit" id="confirmButton" routerLink="/reset-password-notification">Confirm</button>
        <button id="cancelButton" routerLink="">Cancel</button>
    </div>
</app-card>
</div>



