.card {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    width: 100%;
    z-index: 2;
}



@media screen and (max-width: 600px){
    .card{
        width: 90%;
        margin: auto;
        min-width: 200px;
    }

}