<div class="title-container">
    <mat-icon aria-hidden="false" aria-label="Title Icon" fontIcon="library_books"></mat-icon>
    <h2> {{data.name | titlecase}} </h2>
</div>
    <div class="list-container">
        <div class="card-local-container" id="toDoCard">
            <app-card [title]="''">
                <div class="app-card-header">
                    <h4>To Do</h4>
                    <button id="addChecklistButton" (click)="addItemDialog(data.id)">
                        <mat-icon aria-hidden="false" aria-label="Add Icon" fontIcon="add"></mat-icon>
                    </button>
                </div>
                <div cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="checklistItemToDo" 
                    [cdkDropListConnectedTo]="[doneList]"
                    class="todo-list" 
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="checklist-container" *ngFor="let item of checklistItemToDo" cdkDrag>
                        <div class="item-container" (click)="openDetailDialog(item.id, item.name, item.itemCompletionStatus)">
                            <h4> {{item.name | titlecase}} </h4>
                            <mat-icon id="toDoStatus" aria-hidden="false" aria-label="Pending Button" fontIcon="pending_actions"></mat-icon>    
                        </div>
                        <div class="delete-button-container">
                            <button mat-icon-button (click)="deleteChecklistItem(item.id)">
                                <mat-icon aria-hidden="false" aria-label="Delete Button" fontIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
        <div class="card-local-container" id="doneCard">
            <app-card [title]="''">
                <div class="app-card-header">
                    <h4>Done</h4>
                </div>
                <div cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="checklistItemDone"
                    [cdkDropListConnectedTo]="[todoList]"
                    class="todo-list" 
                    (cdkDropListDropped)="drop($event)">
                    <div class="checklist-container" *ngFor="let item of checklistItemDone" cdkDrag>
                        <div class="item-container" (click)="openDetailDialog(item.id, item.name, item.itemCompletionStatus)">
                            <h4> {{item.name | titlecase}} </h4>
                            <mat-icon id="doneStatus" aria-hidden="false" aria-label="Pending Button" fontIcon="task_alt"></mat-icon>    
                        </div>
                        <div class="delete-button-container">
                            <button mat-icon-button (click)="deleteChecklistItem(item.id)">
                                <mat-icon aria-hidden="false" aria-label="Delete Button" fontIcon="delete"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
<mat-dialog-actions align="end">
    <button (click)="closeDialog()" id="closeButton" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>


