.dashboard-layout {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh !important;
}

mat-toolbar {
    background-color: #FFFFFF;
    width: 100%;
    padding: 50px 30px ;
}

.logo-container {
    border-radius: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
    padding: 15px 15px 5px 15px;
    height: fit-content;
}

.logo-container mat-icon{
    color: #870000;
}

.logo-container img {
    width: 30px;
}

.layout-title-container {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 100%;
}

.layout-title-container mat-icon {
    color : #870000;
    margin: auto 10px;
}

.layout-title-container h1 {
    font-size: 18px;
    color: #1A041D;
    line-height: 22px;
    margin: auto 0px;
}

mat-sidenav-container {
    background-color: #FFFFFF;
    height: 80vh;
    padding: 0;
    margin: 0;
}

mat-sidenav {
    border : none;
    width: fit-content;
    overflow-y: hidden;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}

mat-sidenav .sidenav-container {
    width: 100%;
    padding: 0px 30px;
}

mat-sidenav .logo-container img {
    width: 28px;
}

nav {
    background: radial-gradient(circle at center, #870000 0%, #A82C26 100%);
    border-radius: 30px;
    height: 75vh;
    width: 100%;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

li {
    padding: 20px;

}

li mat-icon {
    color: #FFFFFF;
    cursor: pointer;
}

mat-sidenav-content {
    padding: 20px 30px 0px 20px !important;
    background-color: #FFFFFF;
}


.to-do-components-container {
    padding: 0px 10px 0px 10px;
}