.list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 20px 100px 0px;
}

.list-container .card-local-container {
    width: 100%;
    height: 100%;
}

.list-container .card-local-container app-card.card{
    padding: 0 !important;
}

.list-container #toDoCard {
    margin-right: 20px;
}

.card-local-container .app-card-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-local-container .app-card-header#doneHeader {
    padding-bottom: 15px;
}

.card-local-container .app-card-header h4 {
    font-weight: bold;
    font-size: 1.3em;
    width: 80%;
}

.todo-list {
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 200px !important;
}


.app-card-header #addChecklistButton {
    background-color: #870000;
    border: 1px solid #870000;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    display: flex;
    width: 144px;
    height: 40px;
    padding : 0 !important;
}

.app-card-header #addChecklistButton mat-icon {
    margin: auto 10px;
}

.app-card-header #addChecklistButton h5 {
    font-family: 'Montserrat', sans-serif !important;
    font-size : 13px;
    margin: auto !important;
    padding-right: 10px;
}

.checklist-container {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    height: 100%;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview  #toDoStatus {
    background-color: #E2DD40;
}
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .checklist-container:last-child {
    border: none;
  }
  
  .todo-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.checklist-container h4 {
    width: 70%;
    margin: auto 10px;
}

.status-container {
    border-radius: 16px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
    margin: auto 10px;
    padding: 5px 20px; 
    justify-content: end;
}

.status-container#toDoStatusIcon {
    box-shadow: none;
    color: #E2DD40;
    margin: auto 0px;
    padding: 5px; 
    justify-content: end;
}

.status-container#doneStatusIcon {
    box-shadow: none;
    color: #73D546;
    margin: auto 5px;
    padding: 5px; 
    justify-content: end;
}

.delete-button-container button {
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    margin: auto;
    color:#870000;

}

#toDoStatus {
    background-color: #E2DD40;
}

#doneStatus {
    background-color: #73D546;
}


.status-container p {
    margin: 0;
}

.item-container {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1015px){

    .app-card-header #addChecklistButton {
        width: fit-content;
        height: 30px;
    }

    .app-card-header #addChecklistButton h5 {
        display: none;
    }
}

@media screen and (max-width: 770px){

    .card-local-container .app-card-header {
        width: 100%;
    }

    .checklist-container .status-container {
        text-align: center;
        margin: 1.8em 1em 1em 1em;
        padding: 5px 20px; 
    }

    .app-card-header #addChecklistButton {
        width: fit-content;
        height: 30px;
    }

    .app-card-header #addChecklistButton h5 {
        display: none;
    }
}

@media screen and (max-width: 666px){

    .list-container .card-local-container {
        margin-bottom: 30px;
        width: fit-content;
    }
}

@media screen and (max-width: 600px){

    .list-container {
        overflow-x: scroll !important;
        display: grid;
        grid-auto-flow: column;
        padding: 20px 20px 100px 20px;
    }

    .list-container #toDoCard {
        margin-right: 10px;
    }

    .item-container h4 {
        font-size: 0.8em;
    }

    .checklist-container h4 {
        margin: auto 0px;
    }

}