.auth-layout {
    background-color: #FFF1E6;
    width: 100vw;
    overflow-x : hidden;
}

.image-background-container {
    background: url('../../../assets/login/background-vector.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 30px 100px, 580px 100px;
    width: 100%;
    padding: 40px 40px 50px;
}

.card-global-container {
    margin: auto 0;
    display: flex;
    justify-content: end;
}

.logo-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding : 0 0 10px 0;
}

@media screen and (max-width: 830px){

    .image-background-container {
        padding: 40px 20px 50px;
    }

    .card-global-container {
        margin: auto 0;
        display: flex;
        justify-content: center;
    }

    .logo-container {
        margin-top: 20px;
    }
}

/* @media screen and (max-width: 500px){

    .card-global-container {
        margin: auto;
    }
} */

.logo-container img{
    margin-right: 15px;
}

.logo-container span{
    background-color: #D39B9B;
    border-radius: 2px;
    display: block;
    margin-right: 20px;
    width: 4px;
    height: 40px;
}



