<div class="card-local-container">
    <app-card [title]="'Welcome'">
        <h3>to <span>TESA</span> by <span>BTS.id</span></h3>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-container">
                <div class="form-control">
                    <mat-label for="name">Username</mat-label><br>
                    <mat-form-field appearance="fill" class="input-control">
                        <input matInput formControlName="username" name="username" placeholder="johndoe" required>
                        <mat-error *ngIf="username?.invalid"> {{getErrorMessage('username')}} </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-control">
                    <mat-label for="password">Password</mat-label><br>
                    <mat-form-field appearance="fill" class="input-control">
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                        </button>
                        <mat-error *ngIf="password?.invalid"> {{getErrorMessage('password')}} </mat-error>
                    </mat-form-field>
                    <div class="forgot-password-container">
                        <a routerLink="/forgot-password">Forgot Password</a>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <mat-error *ngIf="isError"> {{errorMessage}} </mat-error>
                <button type="submit" id="signInButton">Sign In</button>
                <button id="registerButton" routerLink="/register">Register</button>
            </div>
        </form>
    </app-card>
</div>


