<div class="create-container">
    <h3>Create New To Do</h3>
    <form (ngSubmit)="onSubmit()" novalidate>
        <div class="form-container">
            <mat-label for="itemName">Item Name</mat-label><br>
            <mat-form-field appearance="fill" class="input-control">
                <input matInput [formControl]="itemName" name="itemName" placeholder="ex : using interceptor" required>
                <!-- <mat-error *ngIf="username?.invalid"> {{getErrorMessage('username')}} </mat-error> -->
            </mat-form-field>
        </div>
        <div class="notification-container" *ngIf="isSubmitted">
            <p> {{submitNotification || errorMessage}}  </p>
        </div>
        <div class="button-container">
            <!-- <mat-error *ngIf="isError"> {{errorMessage}} </mat-error> -->
            <button type="submit" id="createButton">Add</button>
        </div>
    </form>
</div>
