@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    height: 100vh;
}

h1 {
    color: #1A051D !important;
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif !important;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif !important;
}

h3 {
    font-size: 15px;
    line-height: 20px;
    color: #bfbfbf;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif !important;
}

h4 {
    font-size: 13px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif !important;
}

label {
    color: #1A051D;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif !important;
}

mat-label {
    color: #1A051D;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif !important;
}

input {
    color: #1A051D;
    font-size: 1em !important;
    line-height: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif !important;

    width: 100%;
    background-color: #FFFFFF !important;
    border: 1px solid #E9E9E9 !important;
    border-radius: 6px !important;
    padding: 14px 0px 14px 10px  !important;
    margin: 0;

    outline: none;
  }

.mat-form-field-wrapper {
    padding: 0;
    position: relative;
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-flex {
    width: 98% !important;
    background-color: #FFFFFF !important;
    padding: 0 !important;
    margin: 0;

    outline: none;
}

mat-error {
    font-family: 'Montserrat', sans-serif !important;
    color: #FF5D5D;
    font-size: 12px;
    margin-top: 8px;
}

button {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-bottom: 1.8em;
    padding: 14px 0px;
    font-family: 'Montserrat', sans-serif !important;
}



