.app-card-container {
    background: url('../../../../assets/login/background-vector.svg');
    background-repeat: no-repeat;
    background-position: 500px 70px;
    width: 100%;
}

.app-card{
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.12);
    padding: 36px;
    margin: 0 auto;
    width: 50%;
}

.content-container {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 4em;
}

.content-container h2{
    line-height: 34px;
    font-weight: bold;
}

.button-container {
    width: 50%;
}

.button-container #resetButton {
    background-color: #870000;
    border: 1px solid #870000;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    margin-bottom: 8em;
}

@media screen and (max-width: 600px){

    .app-card-container{
        width: 38em;
    }

    .button-container {
        width: 100%;
    }

    .button-container #resetButton {
        padding: 0.5em 1em;
    }

    .content-container h2{
        font-size: 13px;
    }

}